{% extends 'userheader.html' %}

{% block content %}

<style type="text/css">
    table,tr,th,td
    {
        font-name:arial;
        border:1px solid black;
        border-collapse:collapse;
    }
    td, th
    {
    width:150px;
    text-align:center;
    }

</style>


<div style="position:absolute; left:200px; top:100px;">
    <br><br>
    <h1>This is Admin View Books Page</h1>
    <table>
        <thead>
        <tr>
            <th>Book Id</th>
            <th>Book Name</th>
            <th>Author Name</th>
            <th>Publiher Name</th>
            <th>Published Year</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        {% for data in rows %}
        <tr>
            {% for row in data %}
                    {% if loop.index<=5 %}
                    <td>{{row}}</td>
                    {% endif %}
                    {% if loop.index==6 %}
                    <td><br>
                        <img src="/static/img/{{row}}" width="100px" height="100px"/></td>
                    {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}